/*阿弗伦斯*/

body{
	background:#fff;
	margin:0;
}

#main{
	border:15px solid #fff;
	width:1310px;
	height:960px;
	background:#efefef;
	position:relative;
}
#content{
	border:2px solid #999;
	height:960px;
	background:#efefef;
}
.first_col{
	width:300px;
	height:200px;
	background:#fff;
	border:2px solid #999;
	margin-top:50px;
	margin-left:50px;
	margin-right:0px;
	float:left;
}
img{
	margin-left:30px;
	margin-top:50px;
}
.second_col{
	background:#fff;
	border:2px solid #999;
	width:600px;
	height:450px;
	position:absolute;
	float:left;
	margin-top:50px;
	margin-left:400px;
}
h1{
	margin-left:30px;
	margin-top:40px;
}
h2{
	margin-left:30px;
	margin-top:40px;
}
p{
	margin-left:30px;
	margin-top:40px;
	width:440px;
}
.third_col{
	background:#fff;
	border:2px solid #999;
	width:210px;
	height:700px;
	position:absolute;
	float:right;
	margin-top:50px;
	margin-left:1050px;
}
.third_col p{
	width:100px;
	height:150px;
	margin-top:0;
	padding-top:0;
}